.recipe {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}

.recipe .ingr {
    margin: 10px auto;
    color: #777;
    font-size: 15pt;
}

.method {
    text-align: left;
    line-height: 1.5em;
}

.recipe.dark {
    background: #555;
    color: #e4e4e4;
}
.recipe.dark h3{
    color: #e4e4e4;
}
.recipe.dark .ingr {
    color: #a3a2a2;
}